* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(219, 214, 214);
}

header {
  height: 50px;
  background-color: rgb(99, 25, 99);
  padding-top: 10px;
}

ul li {
  display: inline-block;
  list-style-type: none;
}

a {
  color: yellow;
  padding: 30px;
  margin: 60px;
  text-decoration: none;
  background-color: rgb(99, 25, 99);
  border-radius: 20%;
}

main {
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}

footer {
  background-color: rgb(99, 25, 99);
}
footer .footer {
  text-align: right;
  font-size: 12px;
}
footer .redes {
  margin: 5px;
  padding: 5px;
}

.listindex {
  color: rgb(136, 134, 134);
}

div {
  padding: 30px;
  margin: 15px;
  text-align: center;
}

p {
  color: rgb(136, 134, 134);
}

.lista {
  color: rgb(136, 134, 134);
}

.video {
  padding: 40px;
}

.estadisticas {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
}
.estadisticas .t1 {
  padding: 10px;
  margin: 50px;
  background-color: white;
  border-radius: 10%;
}
.estadisticas .t2 {
  padding: 10px;
  margin: 50px;
  background-color: white;
  border-radius: 10%;
}
.estadisticas .t3 {
  padding: 10px;
  margin: 50px;
  background-color: white;
  border-radius: 10%;
}
.estadisticas .t4 {
  padding: 10px;
  margin: 50px;
  background-color: white;
  border-radius: 10%;
}
.estadisticas th, .estadisticas td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  border-radius: 20%;
  background-color: white;
  justify-content: center;
}
.estadisticas th {
  background-color: white;
}
.estadisticas .tabla1 {
  background-color: rgb(211, 205, 205);
}
.estadisticas .tabla2 {
  background-color: whitesmoke;
}
.estadisticas .tableest {
  margin: 0 auto;
}

/* GRID INDEX */
.grid {
  display: grid;
  grid-template-areas: "uno dos dos cuatro" "cinco dos dos ocho";
}
.grid .c1 {
  grid-area: dos;
  padding: 30px;
  margin: 5px;
  justify-content: center;
  background-color: white;
  border-radius: 10%;
}
.grid .c2 {
  grid-area: uno;
  padding: 30px;
  margin: 5px;
  justify-content: center;
  background-color: white;
  border-radius: 10%;
}
.grid .c3 {
  grid-area: cuatro;
  padding: 30px;
  margin: 5px;
  justify-content: center;
  background-color: white;
  border-radius: 10%;
}
.grid .c4 {
  grid-area: cinco;
  padding: 30px;
  margin: 5px;
  justify-content: center;
  background-color: white;
  border-radius: 10%;
}
.grid .c5 {
  grid-area: ocho;
  padding: 30px;
  margin: 5px;
  justify-content: center;
  background-color: white;
  border-radius: 10%;
}

/* GRID NOTICIAS */
.gridnoticias {
  display: grid;
  grid-template-areas: "uno dos";
  padding: 5px;
  margin: 5px;
}
.gridnoticias .noticias1 {
  grid-area: uno;
  padding: 30px;
  margin: 15px;
}
.gridnoticias .noticias2 {
  grid-area: dos;
  padding: 30px;
  margin: 15px;
}

/* GRID HTML PLANTILLA */
.lideres {
  display: grid;
  grid-template-areas: "uno dos tres cuatro";
}
.lideres .l1 {
  grid-column: uno;
  padding: 10px;
  margin: 5px;
  justify-content: center;
  background-color: white;
  border-radius: 10%;
}
.lideres .l2 {
  grid-column: dos;
  padding: 10px;
  margin: 5px;
  justify-content: center;
  background-color: white;
  border-radius: 10%;
}
.lideres .l3 {
  grid-column: tres;
  padding: 10px;
  margin: 5px;
  justify-content: center;
  background-color: white;
  border-radius: 10%;
}
.lideres .l4 {
  grid-column: cuatro;
  padding: 10px;
  margin: 5px;
  justify-content: center;
  background-color: white;
  border-radius: 10%;
}

.plantilla {
  display: grid;
  grid-template-areas: "uno dos tres cuatro" "cinco seis siete ocho";
}
.plantilla .j1 {
  grid-area: uno;
  padding: 10px;
  margin: 5px;
  justify-content: center;
}
.plantilla .j2 {
  grid-area: dos;
  padding: 10px;
  margin: 5px;
  justify-content: center;
}
.plantilla .j3 {
  grid-area: tres;
  padding: 10px;
  margin: 5px;
  justify-content: center;
}
.plantilla .j4 {
  grid-area: cuatro;
  padding: 10px;
  margin: 5px;
  justify-content: center;
}
.plantilla .j5 {
  grid-area: cinco;
  padding: 10px;
  margin: 5px;
  justify-content: center;
}
.plantilla .j6 {
  grid-area: seis;
  padding: 10px;
  margin: 5px;
  justify-content: center;
}
.plantilla .j7 {
  grid-area: siete;
  padding: 10px;
  margin: 5px;
  justify-content: center;
}
.plantilla .j8 {
  grid-area: ocho;
  padding: 10px;
  margin: 5px;
  justify-content: center;
}

.estadisticas {
  display: grid;
  grid-template-areas: "uno dos" "tres cuatro";
}
.estadisticas .t1 {
  grid-area: uno;
}
.estadisticas .t2 {
  grid-area: dos;
}
.estadisticas .t3 {
  grid-area: tres;
}
.estadisticas .t4 {
  grid-area: cuatro;
}

.logo {
  height: 180px;
  width: 250px;
  animation: flotar 3s linear infinite alternate;
}

@keyframes flotar {
  0% {
    opacity: 0;
    transform: translatey(80px);
  }
  100% {
    opacity: 1;
    transform: translatey(0px);
  }
}
.uniforme {
  height: 200px;
  width: 250px;
}

.estadio {
  height: 180px;
  width: 250px;
}

.anillo {
  height: 100px;
  width: 200px;
}

.jugadores {
  border-radius: 20%;
  background-color: white;
  border: 3px solid black;
}

@media screen and (max-width: 1100px) {
  .grid {
    grid-template-areas: "dos dos" " dos dos" "uno cinco" "cuatro ocho";
  }
  .gridnoticias {
    grid-template-areas: "uno" "dos";
  }
  .campeonatos {
    width: 100%;
  }
  header {
    height: 80px;
  }
  .estadisticas {
    grid-template-areas: "uno" "dos" "tres" "cuatro";
  }
}
@media screen and (max-width: 576px) {
  .grid {
    grid-template-areas: " dos " "uno" "cinco" "cuatro" "ocho";
  }
  .uniforme {
    width: 100%;
  }
  .estadio {
    width: 100%;
  }
  .anillo {
    width: 100%;
  }
  .video {
    width: 100%;
  }
  .gridnoticias {
    grid-template-areas: "uno" "dos";
  }
  .noticiasimg {
    width: 100%;
  }
  .lideres {
    grid-template-areas: "uno" "dos" "tres" "cuatro";
  }
  .plantilla {
    grid-template-areas: "uno dos" "tres cuatro" "cinco seis" "siete ocho";
  }
  .estadisticas {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .campeonatos {
    width: 100%;
  }
  header {
    height: 120px;
  }
  .estadisticas {
    grid-template-areas: "uno" "dos" "tres" "cuatro";
  }
}
h1 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(170, 170, 53);
}

h2 {
  padding: 20px;
  margin: 10px;
  text-align: center;
}

h3 {
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.historia {
  font-weight: bolder;
  font-size: 15px;
  text-align: center;
}

.historiatext {
  margin: 20px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */